@font-face {
    font-family: "FZSongKeBenXiuKaiS-R-GB";
    src: url("songke.eot"); /* IE9 */
    src: url("songke.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("songke.woff") format("woff"), /* chrome, firefox */
    url("songke.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("songke.svg#FZSongKeBenXiuKaiS-R-GB") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


